<link rel="stylesheet" inline href="css/uncss/main.css">
<h1>Hi!</h1>
<p>
    dhsadhkjadk ahdsk ahsdk <br/>
    <b class="red">
        hkdshadha
    </b>
    Lorem Ipsum lorem delore
</p>
<h1>
    done!
</h1>