@import 'include/variables';
@import 'include/mixins';

// build utilty spacing classes, e.g. u-space-bottom-2
// Not Responsive!
@mixin spaces($space-columns) {

  // Loop through the number of columns for each denominator of our fractions.
  @each $space-col in $space-columns {

    // Build a Class for single directions
    @each $dir in ('right', 'left', 'top', 'bottom') {
      .u-space-#{$dir}-#{$space-col} {
        margin-#{$dir}: ($spacing-unit * $space-col);
      }
    }

    // Build a Class for Vertical Directions
    .u-space-vert-#{$space-col} {
      margin-top: ($spacing-unit * $space-col);
      margin-bottom: ($spacing-unit * $space-col);
    }

    // Build a class for Horizontal Directions
    .u-space-horz-#{$space-col} {
      margin-left: ($spacing-unit * $space-col);
      margin-right: ($spacing-unit * $space-col);
    }

    // Build a class for all Directions
    .u-space-all-#{$space-col}, .u-space-#{$space-col} {
      margin: ($spacing-unit * $space-col);
    }

  }

}


@include spaces(1 2 3 4 5 6 7);

.u-space-top-1-half{
  margin-top: ($spacing-unit / 2);
}

.u-space-bottom-1-half{
  margin-bottom: ($spacing-unit / 2);
}


@media (min-width:#{$breakpoint-lg}px) {

  .u-desktop-space-top-1-half {
    margin-top: ($spacing-unit / 2);
  }

  .u-desktop-space-bottom-1-half {
    margin-bottom: ($spacing-unit / 2);
  }

}


.u-space-0 {
  margin: 0;
}


/* Padding */
.u-pad-0 {
  padding: $spacing-unit*(3/8);
}

.u-pad-1 {
  padding: $spacing-unit*(5/8);
}


.u-pad, .u-pad-2 {
  padding: $spacing-unit;
}

.u-pad-3 {
  padding: $spacing-unit*1.5;
}

.u-pad-4 {
  padding: $spacing-unit*2;
}



.u-pad-top-0{
  padding-top: $spacing-unit*(3/8);
}

.u-pad-top-1 {
  padding-top: $spacing-unit*(5/8);
}


.u-pad-top, .u-pad-top-2 {
  padding-top: $spacing-unit;
}

.u-pad-top-3 {
  padding-top: $spacing-unit*1.5;
}

.u-pad-top-4 {
  padding-top: $spacing-unit*2;
}



.u-pad-right-0{
  padding-right: $spacing-unit*(3/8);
}

.u-pad-right-1 {
  padding-right: $spacing-unit*(5/8);
}


.u-pad-right, .u-pad-right-2 {
  padding-right: $spacing-unit;
}

.u-pad-right-3 {
  padding-right: $spacing-unit*1.5;
}

.u-pad-right-4 {
  padding-right: $spacing-unit*2;
}

.u-pad-vert-1{
  padding-top: $spacing-unit*(5/8);
  padding-bottom: $spacing-unit*(5/8);
}


.u-pad-vert-2{
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.u-pad-vert-3{
  padding-top: $spacing-unit*1.5;
  padding-bottom: $spacing-unit*1.5;
}

.u-pad-vert-4{
  padding-top: $spacing-unit*2;
  padding-bottom: $spacing-unit*2;
}

.u-pad-vert-5{
  padding-top: $spacing-unit*2.5;
  padding-bottom: $spacing-unit*2.5;
}



.u-pad-horz-1{
  padding-left: $spacing-unit*(5/8);
  padding-right: $spacing-unit*(5/8);
}


.u-pad-horz-2{
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.u-pad-horz-3{
  padding-left: $spacing-unit*1.5;
  padding-right: $spacing-unit*1.5;
}

.u-pad-horz-4{
  padding-left: $spacing-unit*2;
  padding-right: $spacing-unit*2;
}

.u-pad-horz-5{
  padding-left: $spacing-unit*2.5;
  padding-right: $spacing-unit*2.5;
}



.u-pad-bottom-0{
  padding-bottom: $spacing-unit*(3/8);
}

.u-pad-bottom-1 {
  padding-bottom: $spacing-unit*(5/8);
}


.u-pad-bottom, .u-pad-bottom-2 {
  padding-bottom: $spacing-unit;
}

.u-pad-bottom-3 {
  padding-bottom: $spacing-unit*1.5;
}

.u-pad-bottom-4 {
  padding-bottom: $spacing-unit*2;
}

.u-pad-left-0{
  padding-left: $spacing-unit*(3/8);
}

.u-pad-left-1 {
  padding-left: $spacing-unit*(5/8);
}


.u-pad-left, .u-pad-left-2 {
  padding-left: $spacing-unit;
}

.u-pad-left-3 {
  padding-left: $spacing-unit*1.5;
}

.u-pad-left-4 {
  padding-left: $spacing-unit*2;
}


@media (min-width:#{$breakpoint-lg}px) {

  .u-desktop-pad-0 {
    padding: $spacing-unit*(3/8);
  }

  .u-desktop-pad-1 {
    padding: $spacing-unit*(5/8);
  }

  .u-desktop-pad-vert-1{
    padding-top: $spacing-unit*(5/8);
    bottom: $spacing-unit*(5/8);
  }



  .u-desktop-pad, .u-desktop-pad-2 {
    padding: $spacing-unit;
  }

  .u-desktop-pad-3 {
    padding: $spacing-unit*1.5;
  }

  .u-desktop-pad-4 {
    padding: $spacing-unit*2;
  }

  .u-desktop-pad-vert-2{
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
  }

  .u-desktop-pad-top-0 {
    padding-top: $spacing-unit*(3/8);
  }

  .u-desktop-pad-top-1 {
    padding-top: $spacing-unit*(5/8);
  }

  .u-desktop-pad-top, .u-desktop-pad-top-2 {
    padding-top: $spacing-unit;
  }

  .u-desktop-pad-top-3 {
    padding-top: $spacing-unit*1.5;
  }

  .u-desktop-pad-top-4 {
    padding-top: $spacing-unit*2;
  }

  .u-desktop-pad-right-0 {
    padding-right: $spacing-unit*(3/8);
  }

  .u-desktop-pad-right-1 {
    padding-right: $spacing-unit*(5/8);
  }

  .u-desktop-pad-right, .u-desktop-pad-right-2 {
    padding-right: $spacing-unit;
  }

  .u-desktop-pad-right-3 {
    padding-right: $spacing-unit*1.5;
  }

  .u-desktop-pad-right-4 {
    padding-right: $spacing-unit*2;
  }

  .u-desktop-pad-bottom-0 {
    padding-bottom: $spacing-unit*(3/8);
  }

  .u-desktop-pad-bottom-1 {
    padding-bottom: $spacing-unit*(5/8);
  }

  .u-desktop-pad-bottom, .u-desktop-pad-bottom-2 {
    padding-bottom: $spacing-unit;
  }

  .u-desktop-pad-bottom-3 {
    padding-bottom: $spacing-unit*1.5;
  }

  .u-desktop-pad-bottom-4 {
    padding-bottom: $spacing-unit*2;
  }

  .u-desktop-pad-left-0 {
    padding-left: $spacing-unit*(3/8);
  }

  .u-desktop-pad-left-1 {
    padding-left: $spacing-unit*(5/8);
  }

  .u-desktop-pad-left, .u-desktop-pad-left-2 {
    padding-left: $spacing-unit;
  }

  .u-desktop-pad-left-3 {
    padding-left: $spacing-unit*1.5;
  }

  .u-desktop-pad-left-4 {
    padding-left: $spacing-unit*2;
  }
}


/* DEPRECATED!!!! */
/* No clothing sizes for padding classes */

/* Padding */
.u-pad-xs {
  padding: $spacing-unit*(3/8);
}

.u-pad-s {
  padding: $spacing-unit*(5/8);
}


.u-pad, .u-pad-m {
  padding: $spacing-unit;
}

.u-pad-l {
  padding: $spacing-unit*1.5;
}

.u-pad-xl {
  padding: $spacing-unit*2;
}



.u-pad-top-xs{
  padding-top: $spacing-unit*(3/8);
}

.u-pad-top-s {
  padding-top: $spacing-unit*(5/8);
}


.u-pad-top, .u-pad-top-m {
  padding-top: $spacing-unit;
}

.u-pad-top-l {
  padding-top: $spacing-unit*1.5;
}

.u-pad-top-xl {
  padding-top: $spacing-unit*2;
}



.u-pad-right-xs{
  padding-right: $spacing-unit*(3/8);
}

.u-pad-right-s {
  padding-right: $spacing-unit*(5/8);
}


.u-pad-right, .u-pad-right-m {
  padding-right: $spacing-unit;
}

.u-pad-right-l {
  padding-right: $spacing-unit*1.5;
}

.u-pad-right-xl {
  padding-right: $spacing-unit*2;
}

.u-pad-vert-s{
  padding-top: $spacing-unit*(5/8);
  bottom: $spacing-unit*(5/8);
}


.u-pad-vert-m{
  padding-top: $spacing-unit;
  bottom: $spacing-unit;
}


.u-pad-bottom-xs{
  padding-bottom: $spacing-unit*(3/8);
}

.u-pad-bottom-s {
  padding-bottom: $spacing-unit*(5/8);
}


.u-pad-bottom, .u-pad-bottom-m {
  padding-bottom: $spacing-unit;
}

.u-pad-bottom-l {
  padding-bottom: $spacing-unit*1.5;
}

.u-pad-bottom-xl {
  padding-bottom: $spacing-unit*2;
}

.u-pad-left-xs{
  padding-left: $spacing-unit*(3/8);
}

.u-pad-left-s {
  padding-left: $spacing-unit*(5/8);
}


.u-pad-left, .u-pad-left-m {
  padding-left: $spacing-unit;
}

.u-pad-left-l {
  padding-left: $spacing-unit*1.5;
}

.u-pad-left-xl {
  padding-left: $spacing-unit*2;
}


@media (min-width:#{$breakpoint-lg}px) {

  .u-desktop-pad-xs {
    padding: $spacing-unit*(3/8);
  }

  .u-desktop-pad-s {
    padding: $spacing-unit*(5/8);
  }

  .u-desktop-pad-vert-s{
    padding-top: $spacing-unit*(5/8);
    bottom: $spacing-unit*(5/8);
  }



  .u-desktop-pad, .u-desktop-pad-m {
    padding: $spacing-unit;
  }

  .u-desktop-pad-l {
    padding: $spacing-unit*1.5;
  }

  .u-desktop-pad-xl {
    padding: $spacing-unit*2;
  }

  .u-desktop-pad-vert-m{
    padding-top: $spacing-unit;
    bottom: $spacing-unit;
  }

  .u-desktop-pad-top-xs {
    padding-top: $spacing-unit*(3/8);
  }

  .u-desktop-pad-top-s {
    padding-top: $spacing-unit*(5/8);
  }

  .u-desktop-pad-top, .u-desktop-pad-top-m {
    padding-top: $spacing-unit;
  }

  .u-desktop-pad-top-l {
    padding-top: $spacing-unit*1.5;
  }

  .u-desktop-pad-top-xl {
    padding-top: $spacing-unit*2;
  }

  .u-desktop-pad-right-xs {
    padding-right: $spacing-unit*(3/8);
  }

  .u-desktop-pad-right-s {
    padding-right: $spacing-unit*(5/8);
  }

  .u-desktop-pad-right, .u-desktop-pad-right-m {
    padding-right: $spacing-unit;
  }

  .u-desktop-pad-right-l {
    padding-right: $spacing-unit*1.5;
  }

  .u-desktop-pad-right-xl {
    padding-right: $spacing-unit*2;
  }

  .u-desktop-pad-bottom-xs {
    padding-bottom: $spacing-unit*(3/8);
  }

  .u-desktop-pad-bottom-s {
    padding-bottom: $spacing-unit*(5/8);
  }

  .u-desktop-pad-bottom, .u-desktop-pad-bottom-m {
    padding-bottom: $spacing-unit;
  }

  .u-desktop-pad-bottom-l {
    padding-bottom: $spacing-unit*1.5;
  }

  .u-desktop-pad-bottom-xl {
    padding-bottom: $spacing-unit*2;
  }

  .u-desktop-pad-left-xs {
    padding-left: $spacing-unit*(3/8);
  }

  .u-desktop-pad-left-s {
    padding-left: $spacing-unit*(5/8);
  }

  .u-desktop-pad-left, .u-desktop-pad-left-m {
    padding-left: $spacing-unit;
  }

  .u-desktop-pad-left-l {
    padding-left: $spacing-unit*1.5;
  }

  .u-desktop-pad-left-xl {
    padding-left: $spacing-unit*2;
  }
}



//TODO: Update to u-space-top-1-neg, ...
.u-neg-margin-xs{
  margin-top: ($spacing-unit * (3/8) ) * -1;
}

.u-neg-margin-s{
  margin-top: ($spacing-unit * (5/8) ) * -1;
}

.u-neg-margin-m{
  margin-top: $spacing-unit * -1;
}

.u-neg-margin-l{
  margin-top: ($spacing-unit * 1.5 ) * -1;
}

.u-neg-margin-xl{
  margin-top: ($spacing-unit * 2 ) * -1;
}

//TODO: Replace with something more specific :)
.u-xtra{
  margin: 10px 7px;
}