@import 'include/variables';
@import 'include/mixins';


//based on Foundation for Sites by ZURB
//6.5.0-rc.3
//https://foundation.zurb.com
//Eltern-Element für alle Flex-Box Model Klassen
.o-flex {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

@media (min-width:#{$breakpoint-lg}px) {
  .o-desktop-flex {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
  }
}


//UNSTACK: Alle Elemente in einer Reihe, Breite passt sich an
.o-flex--mobile-unstack {
  .o-flex__col {
    flex: 1 1 0px;
  }
}

@media (min-width:#{$breakpoint-lg}px) {
  .o-flex--desktop-unstack {
    .o-flex__col {
      flex: 1 1 0px;
    }
  }
}

//Wie viele Order Elemente wollen wir anlegen?
$orderElements: 6;
//Welche Device Klassen haben wir?
$devicesList: mobile,
desktop;
//Wie viele Spalten soll unser Grid haben?
$gridSplit: 12;
@each $device in $devicesList {
  @include mediaQuery(#{$device}) {
    @for $i from 1 through $orderElements {
      //Order Klassen für das Flex-Box Model: .u-order-1.u-desktop-order-2 Element wird mobile an 1.Position gezeigt, auf dem Desktop aber nur an Platz 2
      @if $device=='mobile' {
        .u-order-#{$i} {
          order: #{$i};
        }
      }
      @else {
        .u-#{$device}-order-#{$i} {
          order: #{$i};
        }
      }
      @for $i from 1 through $gridSplit {
        $thisMath: $gridSplit / $i;
        $thisWidth: 100 / $thisMath; //Grid Klassen für das Flex-Box Model: z.b: .o-flex > .u-6 füllt die Hälfte der zur Verfügung stehenden Fläche aus
        @if $device=='mobile' {
          .u-#{$i} {
            width: $thisWidth + 0%;
          }
        }
        @else {
          .u-#{$device}-#{$i} {
            width: $thisWidth + 0%;
          }
        }
      }
    }
  }
}

.u-flex-basis-50 {
  flex-basis: 50%;
}

.u-flex-basis-100 {
  flex-basis: 100%;
}

.u-flex-column {
  flex-direction: column;
}

@media (min-width:#{$breakpoint-lg}px) {
  .u-desktop-flex-basis-50 {
    flex-basis: 50%;
  }
  .u-desktop-flex-basis-100 {
    flex-basis: 100%;
  }
  .u-desktop-flex-column {
    flex-direction: column;
  }
}

.o-flex--vert-center{
  align-items: center;
  justify-content: center;
}

.o-flex--space-between{
  justify-content: space-between;
}

@media (min-width:#{$breakpoint-lg}px) {
  .o-desktop-flex--vert-center{
    align-items: center;
    justify-content: center;
  }

  .o-desktop-flex--space-between{
    justify-content: space-between;
  }
}