@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

//@include mediaQuery(#{$device}){ content: 'CSS Code'; }

@mixin mediaQuery($arg) {
  @if($arg == 'desktop'){
    @media (min-width:#{$breakpoint-lg}px){
      @content;
    }
  }@else{
    @content;
  }
}