$max-width: 1000; /* page wrapper */
$max-width-inline: 650; /* max inline text */
$max-width-inline-l: 820; /* max inline element*/

$breakpoint-lg: 769; /* desktop view */

$spacing-unit: 10px;

$teaser-min-width: 176px;

$font: FranklinGothic,Arial,Helvetica,sans-serif;

$colors: (
        primary: #ee7f00,
        primary-hover: #ee7000,
        accent: #ee7f00,
        blend: #fff,
        font: #333,
        border: #ccc,
        fontAccent: #fff,
        inputBorder: #999,
        backgroundAccent: #f3f3f3,
        background: #fff,
        blueLight: #edf6fa,
        white: #fff,
        grey-lightish: #f5f5f5,
        black-lightish: #1e1e1e,
        grey-lighter: #dddddd,
        grey-dusty: #969696,
        grey-dove: #646464,
        black: #000000
);
@function color($object) {
  @return map-get($colors, $object);
}