.u-float-left {
  float: left; }

.u-float-right {
  float: right; }

.u-hidden {
  display: none; }

.u-inline {
  display: inline-block; }

.u-block {
  display: block; }

.u-code {
  font-family: monospace;
  font-size: 110%;
  background-color: rgba(100, 100, 100, 0.1);
  padding: 1px; }

.u-overflow-hidden {
  overflow: hidden; }

.u-center {
  text-align: center; }

.u-fit {
  max-width: 100%; }

.u-stretch {
  width: 100%; }

.u-border {
  border-width: 1px;
  border-style: solid; }

.u-border-rounded {
  border-radius: 5px; }

.u-border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.u-border-top {
  border-top-width: 1px;
  border-top-style: solid; }

.u-clear {
  clear: both; }

.u-relative {
  position: relative; }

.u-cursor-pointer {
  cursor: pointer; }

.u-breakword {
  word-wrap: break-word; }
