/* page wrapper */
/* max inline text */
/* max inline element*/
/* desktop view */
.u-space-right-1 {
  margin-right: 10px; }

.u-space-left-1 {
  margin-left: 10px; }

.u-space-top-1 {
  margin-top: 10px; }

.u-space-bottom-1 {
  margin-bottom: 10px; }

.u-space-vert-1 {
  margin-top: 10px;
  margin-bottom: 10px; }

.u-space-horz-1 {
  margin-left: 10px;
  margin-right: 10px; }

.u-space-all-1, .u-space-1 {
  margin: 10px; }

.u-space-right-2 {
  margin-right: 20px; }

.u-space-left-2 {
  margin-left: 20px; }

.u-space-top-2 {
  margin-top: 20px; }

.u-space-bottom-2 {
  margin-bottom: 20px; }

.u-space-vert-2 {
  margin-top: 20px;
  margin-bottom: 20px; }

.u-space-horz-2 {
  margin-left: 20px;
  margin-right: 20px; }

.u-space-all-2, .u-space-2 {
  margin: 20px; }

.u-space-right-3 {
  margin-right: 30px; }

.u-space-left-3 {
  margin-left: 30px; }

.u-space-top-3 {
  margin-top: 30px; }

.u-space-bottom-3 {
  margin-bottom: 30px; }

.u-space-vert-3 {
  margin-top: 30px;
  margin-bottom: 30px; }

.u-space-horz-3 {
  margin-left: 30px;
  margin-right: 30px; }

.u-space-all-3, .u-space-3 {
  margin: 30px; }

.u-space-right-4 {
  margin-right: 40px; }

.u-space-left-4 {
  margin-left: 40px; }

.u-space-top-4 {
  margin-top: 40px; }

.u-space-bottom-4 {
  margin-bottom: 40px; }

.u-space-vert-4 {
  margin-top: 40px;
  margin-bottom: 40px; }

.u-space-horz-4 {
  margin-left: 40px;
  margin-right: 40px; }

.u-space-all-4, .u-space-4 {
  margin: 40px; }

.u-space-right-5 {
  margin-right: 50px; }

.u-space-left-5 {
  margin-left: 50px; }

.u-space-top-5 {
  margin-top: 50px; }

.u-space-bottom-5 {
  margin-bottom: 50px; }

.u-space-vert-5 {
  margin-top: 50px;
  margin-bottom: 50px; }

.u-space-horz-5 {
  margin-left: 50px;
  margin-right: 50px; }

.u-space-all-5, .u-space-5 {
  margin: 50px; }

.u-space-right-6 {
  margin-right: 60px; }

.u-space-left-6 {
  margin-left: 60px; }

.u-space-top-6 {
  margin-top: 60px; }

.u-space-bottom-6 {
  margin-bottom: 60px; }

.u-space-vert-6 {
  margin-top: 60px;
  margin-bottom: 60px; }

.u-space-horz-6 {
  margin-left: 60px;
  margin-right: 60px; }

.u-space-all-6, .u-space-6 {
  margin: 60px; }

.u-space-right-7 {
  margin-right: 70px; }

.u-space-left-7 {
  margin-left: 70px; }

.u-space-top-7 {
  margin-top: 70px; }

.u-space-bottom-7 {
  margin-bottom: 70px; }

.u-space-vert-7 {
  margin-top: 70px;
  margin-bottom: 70px; }

.u-space-horz-7 {
  margin-left: 70px;
  margin-right: 70px; }

.u-space-all-7, .u-space-7 {
  margin: 70px; }

.u-space-top-1-half {
  margin-top: 5px; }

.u-space-bottom-1-half {
  margin-bottom: 5px; }

@media (min-width: 769px) {
  .u-desktop-space-top-1-half {
    margin-top: 5px; }
  .u-desktop-space-bottom-1-half {
    margin-bottom: 5px; } }

.u-space-0 {
  margin: 0; }

/* Padding */
.u-pad-0 {
  padding: 3.75px; }

.u-pad-1 {
  padding: 6.25px; }

.u-pad, .u-pad-2 {
  padding: 10px; }

.u-pad-3 {
  padding: 15px; }

.u-pad-4 {
  padding: 20px; }

.u-pad-top-0 {
  padding-top: 3.75px; }

.u-pad-top-1 {
  padding-top: 6.25px; }

.u-pad-top, .u-pad-top-2 {
  padding-top: 10px; }

.u-pad-top-3 {
  padding-top: 15px; }

.u-pad-top-4 {
  padding-top: 20px; }

.u-pad-right-0 {
  padding-right: 3.75px; }

.u-pad-right-1 {
  padding-right: 6.25px; }

.u-pad-right, .u-pad-right-2 {
  padding-right: 10px; }

.u-pad-right-3 {
  padding-right: 15px; }

.u-pad-right-4 {
  padding-right: 20px; }

.u-pad-vert-1 {
  padding-top: 6.25px;
  padding-bottom: 6.25px; }

.u-pad-vert-2 {
  padding-top: 10px;
  padding-bottom: 10px; }

.u-pad-vert-3 {
  padding-top: 15px;
  padding-bottom: 15px; }

.u-pad-vert-4 {
  padding-top: 20px;
  padding-bottom: 20px; }

.u-pad-vert-5 {
  padding-top: 25px;
  padding-bottom: 25px; }

.u-pad-horz-1 {
  padding-left: 6.25px;
  padding-right: 6.25px; }

.u-pad-horz-2 {
  padding-left: 10px;
  padding-right: 10px; }

.u-pad-horz-3 {
  padding-left: 15px;
  padding-right: 15px; }

.u-pad-horz-4 {
  padding-left: 20px;
  padding-right: 20px; }

.u-pad-horz-5 {
  padding-left: 25px;
  padding-right: 25px; }

.u-pad-bottom-0 {
  padding-bottom: 3.75px; }

.u-pad-bottom-1 {
  padding-bottom: 6.25px; }

.u-pad-bottom, .u-pad-bottom-2 {
  padding-bottom: 10px; }

.u-pad-bottom-3 {
  padding-bottom: 15px; }

.u-pad-bottom-4 {
  padding-bottom: 20px; }

.u-pad-left-0 {
  padding-left: 3.75px; }

.u-pad-left-1 {
  padding-left: 6.25px; }

.u-pad-left, .u-pad-left-2 {
  padding-left: 10px; }

.u-pad-left-3 {
  padding-left: 15px; }

.u-pad-left-4 {
  padding-left: 20px; }

@media (min-width: 769px) {
  .u-desktop-pad-0 {
    padding: 3.75px; }
  .u-desktop-pad-1 {
    padding: 6.25px; }
  .u-desktop-pad-vert-1 {
    padding-top: 6.25px;
    bottom: 6.25px; }
  .u-desktop-pad, .u-desktop-pad-2 {
    padding: 10px; }
  .u-desktop-pad-3 {
    padding: 15px; }
  .u-desktop-pad-4 {
    padding: 20px; }
  .u-desktop-pad-vert-2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .u-desktop-pad-top-0 {
    padding-top: 3.75px; }
  .u-desktop-pad-top-1 {
    padding-top: 6.25px; }
  .u-desktop-pad-top, .u-desktop-pad-top-2 {
    padding-top: 10px; }
  .u-desktop-pad-top-3 {
    padding-top: 15px; }
  .u-desktop-pad-top-4 {
    padding-top: 20px; }
  .u-desktop-pad-right-0 {
    padding-right: 3.75px; }
  .u-desktop-pad-right-1 {
    padding-right: 6.25px; }
  .u-desktop-pad-right, .u-desktop-pad-right-2 {
    padding-right: 10px; }
  .u-desktop-pad-right-3 {
    padding-right: 15px; }
  .u-desktop-pad-right-4 {
    padding-right: 20px; }
  .u-desktop-pad-bottom-0 {
    padding-bottom: 3.75px; }
  .u-desktop-pad-bottom-1 {
    padding-bottom: 6.25px; }
  .u-desktop-pad-bottom, .u-desktop-pad-bottom-2 {
    padding-bottom: 10px; }
  .u-desktop-pad-bottom-3 {
    padding-bottom: 15px; }
  .u-desktop-pad-bottom-4 {
    padding-bottom: 20px; }
  .u-desktop-pad-left-0 {
    padding-left: 3.75px; }
  .u-desktop-pad-left-1 {
    padding-left: 6.25px; }
  .u-desktop-pad-left, .u-desktop-pad-left-2 {
    padding-left: 10px; }
  .u-desktop-pad-left-3 {
    padding-left: 15px; }
  .u-desktop-pad-left-4 {
    padding-left: 20px; } }

/* DEPRECATED!!!! */
/* No clothing sizes for padding classes */
/* Padding */
.u-pad-xs {
  padding: 3.75px; }

.u-pad-s {
  padding: 6.25px; }

.u-pad, .u-pad-m {
  padding: 10px; }

.u-pad-l {
  padding: 15px; }

.u-pad-xl {
  padding: 20px; }

.u-pad-top-xs {
  padding-top: 3.75px; }

.u-pad-top-s {
  padding-top: 6.25px; }

.u-pad-top, .u-pad-top-m {
  padding-top: 10px; }

.u-pad-top-l {
  padding-top: 15px; }

.u-pad-top-xl {
  padding-top: 20px; }

.u-pad-right-xs {
  padding-right: 3.75px; }

.u-pad-right-s {
  padding-right: 6.25px; }

.u-pad-right, .u-pad-right-m {
  padding-right: 10px; }

.u-pad-right-l {
  padding-right: 15px; }

.u-pad-right-xl {
  padding-right: 20px; }

.u-pad-vert-s {
  padding-top: 6.25px;
  bottom: 6.25px; }

.u-pad-vert-m {
  padding-top: 10px;
  bottom: 10px; }

.u-pad-bottom-xs {
  padding-bottom: 3.75px; }

.u-pad-bottom-s {
  padding-bottom: 6.25px; }

.u-pad-bottom, .u-pad-bottom-m {
  padding-bottom: 10px; }

.u-pad-bottom-l {
  padding-bottom: 15px; }

.u-pad-bottom-xl {
  padding-bottom: 20px; }

.u-pad-left-xs {
  padding-left: 3.75px; }

.u-pad-left-s {
  padding-left: 6.25px; }

.u-pad-left, .u-pad-left-m {
  padding-left: 10px; }

.u-pad-left-l {
  padding-left: 15px; }

.u-pad-left-xl {
  padding-left: 20px; }

@media (min-width: 769px) {
  .u-desktop-pad-xs {
    padding: 3.75px; }
  .u-desktop-pad-s {
    padding: 6.25px; }
  .u-desktop-pad-vert-s {
    padding-top: 6.25px;
    bottom: 6.25px; }
  .u-desktop-pad, .u-desktop-pad-m {
    padding: 10px; }
  .u-desktop-pad-l {
    padding: 15px; }
  .u-desktop-pad-xl {
    padding: 20px; }
  .u-desktop-pad-vert-m {
    padding-top: 10px;
    bottom: 10px; }
  .u-desktop-pad-top-xs {
    padding-top: 3.75px; }
  .u-desktop-pad-top-s {
    padding-top: 6.25px; }
  .u-desktop-pad-top, .u-desktop-pad-top-m {
    padding-top: 10px; }
  .u-desktop-pad-top-l {
    padding-top: 15px; }
  .u-desktop-pad-top-xl {
    padding-top: 20px; }
  .u-desktop-pad-right-xs {
    padding-right: 3.75px; }
  .u-desktop-pad-right-s {
    padding-right: 6.25px; }
  .u-desktop-pad-right, .u-desktop-pad-right-m {
    padding-right: 10px; }
  .u-desktop-pad-right-l {
    padding-right: 15px; }
  .u-desktop-pad-right-xl {
    padding-right: 20px; }
  .u-desktop-pad-bottom-xs {
    padding-bottom: 3.75px; }
  .u-desktop-pad-bottom-s {
    padding-bottom: 6.25px; }
  .u-desktop-pad-bottom, .u-desktop-pad-bottom-m {
    padding-bottom: 10px; }
  .u-desktop-pad-bottom-l {
    padding-bottom: 15px; }
  .u-desktop-pad-bottom-xl {
    padding-bottom: 20px; }
  .u-desktop-pad-left-xs {
    padding-left: 3.75px; }
  .u-desktop-pad-left-s {
    padding-left: 6.25px; }
  .u-desktop-pad-left, .u-desktop-pad-left-m {
    padding-left: 10px; }
  .u-desktop-pad-left-l {
    padding-left: 15px; }
  .u-desktop-pad-left-xl {
    padding-left: 20px; } }

.u-neg-margin-xs {
  margin-top: -3.75px; }

.u-neg-margin-s {
  margin-top: -6.25px; }

.u-neg-margin-m {
  margin-top: -10px; }

.u-neg-margin-l {
  margin-top: -15px; }

.u-neg-margin-xl {
  margin-top: -20px; }

.u-xtra {
  margin: 10px 7px; }
