/* page wrapper */
/* max inline text */
/* max inline element*/
/* desktop view */
.o-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap; }

@media (min-width: 769px) {
  .o-desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap; } }

.o-flex--mobile-unstack .o-flex__col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px; }

@media (min-width: 769px) {
  .o-flex--desktop-unstack .o-flex__col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px; } }

.u-order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

.u-order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

.u-order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

.u-order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

.u-order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

.u-order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.u-1 {
  width: 8.33333%; }

.u-2 {
  width: 16.66667%; }

.u-3 {
  width: 25%; }

.u-4 {
  width: 33.33333%; }

.u-5 {
  width: 41.66667%; }

.u-6 {
  width: 50%; }

.u-7 {
  width: 58.33333%; }

.u-8 {
  width: 66.66667%; }

.u-9 {
  width: 75%; }

.u-10 {
  width: 83.33333%; }

.u-11 {
  width: 91.66667%; }

.u-12 {
  width: 100%; }

@media (min-width: 769px) {
  .u-desktop-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; }
  .u-desktop-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; }
  .u-desktop-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; }
  .u-desktop-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; }
  .u-desktop-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; }
  .u-desktop-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .u-desktop-1 {
    width: 8.33333%; }
  .u-desktop-2 {
    width: 16.66667%; }
  .u-desktop-3 {
    width: 25%; }
  .u-desktop-4 {
    width: 33.33333%; }
  .u-desktop-5 {
    width: 41.66667%; }
  .u-desktop-6 {
    width: 50%; }
  .u-desktop-7 {
    width: 58.33333%; }
  .u-desktop-8 {
    width: 66.66667%; }
  .u-desktop-9 {
    width: 75%; }
  .u-desktop-10 {
    width: 83.33333%; }
  .u-desktop-11 {
    width: 91.66667%; }
  .u-desktop-12 {
    width: 100%; } }

.u-flex-basis-50 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.u-flex-basis-100 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.u-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (min-width: 769px) {
  .u-desktop-flex-basis-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .u-desktop-flex-basis-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .u-desktop-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.o-flex--vert-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.o-flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (min-width: 769px) {
  .o-desktop-flex--vert-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .o-desktop-flex--space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
