/* page wrapper */
/* max inline text */
/* max inline element*/
/* desktop view */
.o-grid {
  display: grid; }

@media (min-width: 769px) {
  .o-desktop-grid {
    display: grid; } }

.o-grid--columns-2-s-l {
  grid-template-columns: 20px calc(100% - 20px); }

.o-grid--columns-2 {
  grid-template-columns: 50% 50%; }

.o-grid--columns-2-1\/3 {
  grid-template-columns: 1fr 2fr; }

.o-grid--columns-2-2\/3 {
  grid-template-columns: 2fr 1fr; }

.o-grid--columns-2-2\/3 {
  grid-template-columns: 2fr 1fr; }

.o-grid--columns-3 {
  grid-template-columns: 33% 33% 33%; }

.o-grid--columns-3fr {
  grid-template-columns: 1fr 1fr 1fr; }

.o-grid--columns-4 {
  grid-template-columns: 25% 25% 25% 25%; }

.o-grid--columns-4-xs-l-s-xs {
  grid-template-columns: 15% 50% 20% 15%; }

.o-grid--columns-4-s-s-l-m {
  grid-template-columns: 8% 17% 50% 25%; }

.o-grid--columns-5 {
  grid-template-columns: 20% 20% 20% 20% 20%; }

.o-grid--columns-l-xl {
  grid-template-columns: 40% 60%; }

@media (min-width: 769px) {
  .o-desktop-grid--columns-2 {
    grid-template-columns: 50% 50%; }
  .o-desktop-grid--columns-3 {
    grid-template-columns: 33% 33% 33%; }
  .o-desktop-grid--columns-4 {
    grid-template-columns: 25% 25% 25% 25%; }
  .o-desktop-grid--columns-4-xs-l-s-xs {
    grid-template-columns: 15% 50% 20% 15%; }
  .o-desktop-grid--columns-5 {
    grid-template-columns: 20% 20% 20% 20% 20%; } }

.u-grid-gap-xs {
  grid-gap: 3.75px; }

.u-grid-gap-s {
  grid-gap: 6.25px; }

.u-grid-gap-m {
  grid-gap: 10px; }

.u-grid-gap-l {
  grid-gap: 15px; }

.u-grid-gap-xl {
  grid-gap: 15px; }

@media (min-width: 769px) {
  .u-desktop-grid-gap-xs {
    grid-gap: 3.75px; }
  .u-desktop-grid-gap-s {
    grid-gap: 6.25px; }
  .u-desktop-grid-gap-m, .u-desktop-grid-gap-1 {
    grid-gap: 10px; }
  .u-desktop-grid-gap-l {
    grid-gap: 15px; }
  .u-desktop-grid-gap-xl {
    grid-gap: 15px; }
  .u-desktop-grid-gap-2 {
    grid-gap: 20px; } }

.u-grid-row-1 {
  grid-row: 1; }

.u-grid-row-1-5 {
  grid-row: 1 / 5; }

.u-grid-row-2 {
  grid-row: 2; }

.u-grid-row-3 {
  grid-row: 3; }

.u-grid-row-4 {
  grid-row: 4; }

.u-grid-row-5 {
  grid-row: 5; }

@media (min-width: 769px) {
  .u-desktop-grid-row-1 {
    grid-row: 1; }
  .u-desktop-grid-row-1-5 {
    grid-row: 1 / 5; }
  .u-desktop-grid-row-2 {
    grid-row: 2; }
  .u-desktop-grid-row-3 {
    grid-row: 3; }
  .u-desktop-grid-row-4 {
    grid-row: 4; }
  .u-desktop-grid-row-5 {
    grid-row: 5; } }

.u-grid-column-1 {
  grid-column: 1; }

.u-grid-column-2 {
  grid-column: 2; }

.u-grid-column-3 {
  grid-column: 3; }

.u-grid-column-3-5 {
  grid-column: 3 / 5; }

.u-grid-column-4 {
  grid-column: 4; }

.u-grid-column-5 {
  grid-column: 5; }

@media (min-width: 769px) {
  .u-desktop-grid-column-1 {
    grid-column: 1; }
  .u-desktop-grid-column-1-span2 {
    grid-column: 1 / span 2; }
  .u-desktop-grid-column-2-span2 {
    grid-column: 2 / span 2; }
  .u-desktop-grid-column-1-3 {
    grid-column: 1/3; }
  .u-desktop-grid-column-3-5 {
    grid-column: 3 / 5; }
  .u-desktop-grid-column-2 {
    grid-column: 2; }
  .u-desktop-grid-column-3 {
    grid-column: 3; }
  .u-desktop-grid-column-4 {
    grid-column: 4; }
  .u-desktop-grid-column-5 {
    grid-column: 5; } }
